.create
  &__form-group-inner input
    background: #F9FAFB
    border: 1px solid #DEDEE0
    box-sizing: border-box
    border-radius: 5px
    height: 58px
    max-width: 664px
    width: 100%
  &__form-group-inner select
    background: #F9FAFB
    border: 1px solid #DEDEE0
    box-sizing: border-box
    border-radius: 5px
    height: 58px
    max-width: 664px
    width: 100%
  &__form-group
    margin-bottom: 24px
  &__form-group-inner-add
    display: flex
    align-items: center
    background: #F9FAFB
    border: 1px solid #DEDEE0
    box-sizing: border-box
    border-radius: 5px
    height: 124px
  &__form-group-inner-btn
    width: 92px
    height: 92px
    margin-left: 16px
    background: #E4E4E4
    border-radius: 4px
    border-color: transparent
    cursor: pointer
  &__form-group-inner-btn:after
    content: "+"
    color: #349A89
    font-size: 75px
  &__btn
    background: #349A89
    border-radius: 5px
    padding: 21px 133px
    border: none
    font-family: $main-font
    font-size: 16px
    line-height: 18px
    text-align: center
    letter-spacing: 0.4px
    color: #FFFFFF
  &__form-group-sub
    display: flex
    justify-content: center
